@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$black: #000000;
$white: #ffff;
$blue: #063D69;
$mustard: #F2A227;
$gray: #7D7D7D;
$dark-gray: #303030;

$font: 'Roboto', sans-serif;
$font-brand: 'Times New Roman', Times, serif;
$hero-size: 4rem;
$big-size: 2rem;
$extra-size: 1.6rem;
$mid-size: 1.3rem;
$small-size: 1rem;