footer{
    background-color: $blue;
    height: auto;
    .footer-container{
        @include media-q(mobile){
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            width: 100%;
            margin: auto;
            padding: 3rem 0;
        }
        @include media-q(tablet){
            grid-template-columns: repeat(3, 1fr);
            padding: 5rem 0;
        }
        .box{
            @include media-q(mobile){
                display: flex;
                justify-content: flex-start;
                margin-top: 2rem;
            }
            @include media-q(tablet){
                display: flex;
                justify-content: center;
            }
            h4{
                font-weight: 500;
                font-size: 1.6rem;
                color: $white;
                padding-bottom: 1rem;
            }
            .contacto{
                display: flex;                
                align-items: center;
                svg{
                    width: 1.2rem;
                    path{
                        fill: $mustard;
                    }
                }
            }
            #title-footer{
                font-family: $font-brand;
                font-size: $big-size;
                font-weight: 600;
                letter-spacing: 1px;
                span{
                    font-family: $font-brand;
                    font-size: $small-size;
                    font-weight: 500;
                    letter-spacing: 1px;
                }
            }
            p{
                font-size: $small-size;
                color: $white;
                padding: 0.4rem;
                font-weight: 400;
            }
        }
        ul{
            list-style-type: none;
            li{
                padding-bottom: 1rem;
                a{
                    color: $white;
                    text-decoration: none;
                    font-weight: 500;
                }
            }
        }
    }
    hr{
        border: 1px solid $gray;
    }
    .box-size{
        margin-top: 4rem;
        h5{
            font-family: $font-brand;
            font-size: $small-size;
            color: $white;
            text-align: center;
            margin-bottom: 1rem;
        }
        p{
            font-size: $small-size;
            font-weight: 500;
            color: $white;
            text-align: center;
        }
    }
    svg{
        width: 40px;
        margin: 20px 10px;
    }
}