.h1-brand{
    font-family: $font-brand;
    font-weight: 700;
    color: $blue;
    text-align: center;
}

h2{
    color: $blue;
    padding: 2rem 0;
    @include media-q(mobile){
        font-size: $extra-size;
    }
    @include media-q(desktop){
        font-size: $big-size;
    }
}

.p-center{
    font-size: $small-size;
    color: $black;
    text-align: center;
    padding-top: 2rem;
}

.p-line{
    font-size: $small-size;
    font-weight: 500;
    color: $black;
    position: relative;
    padding-left: 3rem;
    &::before{
        content: '';
        position: absolute;
        width: 40px;
        height: 3px;
        background-color: $mustard;
        top: 0.5rem;
        left: 0;
        overflow-x: hidden;
    }
}

.p-line--white{
    @extend .p-line; 
    color: $white;
}

.p-gray{
    font-size: $mid-size;
    color: $gray;
    text-align: center;
}

.p-info{
    font-size: $small-size;
    font-weight: 500;
    color: $white;
    @include media-q(mobile){
        padding: 1rem;
    }
    @include media-q(desktop){
        padding: 1rem 2rem;
    }
}

.p-info--big{
    @extend .p-info;
    @include media-q(mobile){
        font-size: $mid-size;
    }
    @include media-q(desktop){
        font-size: $extra-size;
    }
}